<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

    <meta name="description"
        content="A template for server-side rendered applications with the smoothness of an SPA via htmx, styled with Tailwind." />

    <meta name="htmx-config" content='{"globalViewTransitions": "true" }' />

    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="/{{ base.styles }}" />
    <script defer src="/{{ base.scripts }}"></script>

    {% if editor %}
    <link rel="stylesheet" href="/{{ editor.styles }}" />


    {% endif %}

    {% if lexical %}
    <script src="/{{ lexical.scripts }}" type="module"></script>


    {% endif %}



    <title>Template: axum + htmx + tailwind</title>
</head>

<body class="bg-light-primary text-light-secondary transition dark:bg-dark-primary dark:text-dark-secondary">
    {% include "navbar.html" %}

    {% if error_messages %}
    {% for message in error_messages %}
    <div id="alert" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">{{ message.l }}</strong>
        <span class="block sm:inline">{{ message.m }}</span>

        <button class="absolute top-0 bottom-0 right-0 px-4 py-3" hx-get="/remove" hx-swap="outerHTML"
            hx-trigger="click" hx-target="#alert">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    {% if success_messages %}

    {% for message in success_messages %}
    <div id="alert" class="bg-red-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">{{ message.l }}</strong>
        <span class="block sm:inline">{{ message.m }}</span>

        <button class="absolute top-0 bottom-0 right-0 px-4 py-3" hx-get="/remove" hx-swap="outerHTML"
            hx-trigger="click" hx-target="#alert">
            <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </button>
    </div>
    {% endfor %}
    {% endif %}







    <main id="content" class="flex flex-col items-center gap-2">
        {% block main %} {% endblock %}
    </main>
    {% if editor %}
    <script src="/{{ editor.scripts }}"></script>
    {% endif %}

</body>



</html>